@use '@angular/material' as mat;

.tool-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f4f4f4;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: auto;
  z-index: 10;
  gap: 1rem;
}

mat-button-toggle-group {
  border: none;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.tool {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 8px;
  background-color: white;
  border-radius: 12px;
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;

  mat-icon {
    font-size: 28px;
    color: #555;
  }

  &:hover {
    background-color: #e0f7fa;
    cursor: pointer;
    transform: scale(1.05);
  }
}

.mat-button-toggle-appearance-standard {
  border: none;
  background: transparent;
  height: auto;
  width: auto;
  padding: 0;
}

.mat-button-toggle-checked {
  background-color: #0288d1 !important;
  color: white;

  mat-icon {
    color: white;
  }
}
