<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="tool-selector">
  <mat-button-toggle-group appname="tool" hideSingleSelectionIndicator="true">
    @for (tool of tools; track $index) {
      <mat-button-toggle [value]="tool.name" class="tool" (click)="selectTool(tool)">
        @if (tool.icon) {
          <mat-icon>{{ tool.icon }}</mat-icon>
        }
      </mat-button-toggle>
    }
  </mat-button-toggle-group>
</div>
