#content {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.editor-container {
  background-color: rgb(146, 224, 255);
  height: 100vh;
  width: 100vw;
}

.bottom-tool-selector {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -20%);
  bottom: 10px;
}

app-tool-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}
